.contact-container { width:390px; height: 100px; padding:12px; border:1px solid #aaa; margin:0 10px 10px 0; float:left; font-family:sans-serif; color:#333; background-color:#eee; }
.contact-container h1 { margin:0; font-weight:normal; }
.contact-container h1 span { float:right; font-size:12px; line-height:24px; font-weight:normal; }
.contact-container img { border-width:1px; border-style:solid; border-color:#fff; border-right-color:#aaa; border-bottom-color:#aaa; margin-right:10px; float:left; }
.contact-container div { margin-bottom:24px; font-size:12px; }
.contact-container a { color:#333;}
.contact-container dl { margin:0; float:left; font-size:12px;width: 70%; }
.contact-container dt, .contact-container dd { margin:0; float:left; }
.contact-container dt { width:50px; clear:left; }
.contacts{ float: left; width: 100%;}
.contact-form{ float: left; }

.buttons{ float: right; }
.contact-container .edit { display: none; float: left; }
.contact-container .delete { display: none; float: left; margin-left: 5px;}

.contact-container:hover .edit { display: block; }
.contact-container:hover .delete { display: block; }